# Configuration
.*-history
.*_history
.CFUserTextEncoding
.DS_Store
.Trash
.account
.bash_profile.bak
.cups
.dropbox*
.gem
.lesshst
.m2
.rnd
.rvm
.sqlworkbench
.Rapp.history
.adobe/
.berkshelf/
.vagrant/
.Xauthority
.octave*
.fonts/
.fontconfig/
.subversion_IDEA/
.tox/
.docker/
.fontconfig-le64d8.cache-3
.bundler/*
.cmdtrack.*
.oracle_jre_usage/
.bash_sessions/

# ssh
.ssh/authorized_keys
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.ssh/github_rsa*
.ssh/id_boot2docker*
.ssh/yelp

# bins
bin/yelp-shootie

.subversion
.vim/.netrwhist
.viminfo
.zcompdump*
.zsh_history
.zsh/local.rc
.*.swp
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
RubymineProjects
docs
downloader
drivers
hackathon
pg
ruby
yelp-ruby
scratch

# tmp
tmp
.cookiecutters
.ipython
.htoprc
.local/
.npm/
.pgconf-justinc/
.pip/
.pre-commit/
.puppet-what-would-happen/
.pylintrc
.rbenv/
.rbtools-cookies
.rdebug_hist
.ropeproject/
.s3cfg
.scribereader_cache/
.set_s3_creds
.ssh-auth-sock-justinc.sock
.ssh/README
.sudo_as_admin_successful
.terraform.d/
.vim/sessions/
.viminfo.tmp
.znc/users/
.znc/znc.pem
.znc/configs/znc.conf
.zsh_history*
pbinit

# serverauth
.serverauth*

# OS X Stuff
Applications/
Books/
Dropbox/
Google Drive/
Projects/
VirtualBox VMs/
Work/

# Chef stuff
/.bash_logout
/.bashrc.bak
/.cache/
/.profile
/chef-getting-started.txt
/chef-solo/
/install.sh

# Screen socket
.agent-sshscreen-justinc.sock

# secrets
db_passwords.yaml.gpg
.aws/*
.boto
.gnupg

# Ubuntu
.ICEauthority
.bashrc.ubuntu_default
.compiz
.dbus
.dmrc
.gconf
.gnome
.mozilla
.nv
.nvidia-settings-rc
.pki
.sudo_as_admin_successful
.xsession-errors
.xsession-errors.old
examples.desktop
