[user]
name = Justin Cunningham
email = justin@bulletprooftiger.com

[color]
ui = true
status = auto

[color "status"]
added = green
changed = blue
untracked = magenta
deleted = red

[github]
user = justincinmd
[push]
default = matching